body{
    background-color: #39a9cb;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#pictures{
    width: 60vh;
}

.btn{
    background-color: #ffeda3;
    border: none;
    color: #232323;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

@media all and (max-width: 1120px) {

    #pictures{
        width: 50vh;
    }
}

@media all and (max-width: 800px) {

    #pictures{
        width: 40vh;
    }

}

@media all and (max-width: 500px) {

    #pictures{
        width: 30vh;
    }

    .btn{         
        font-size: 20px;
    }

}